* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 10vh;
  background: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: black;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.logo {
  display: flex;
  justify-content: space-evenly;
}
.logo img {
  width: 30px;
  height: 30px;
  margin: 15px 20px;
}
.logo h1 {
  margin: 15px 0px;
  cursor: pointer;
}
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  margin-right: 20px;
  transition: all 0.3s ease-in;
}

.invite a {
  text-decoration: none;
  color: white;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  background-color: black;
  padding: 7px 13px;
}

/* main */
.section {
  display: flex;
}
.content {
  width: 40%;
  height: 70vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.innerdiv {
  width: 300px;
  margin: auto;
  position: relative;
  color: white;
  /* border: 1px solid black; */
}
.innerdiv h1 {
  font-size: 30px;
  margin: 10px 0px;
  line-height: 30px;
  letter-spacing: 3px;
  font-weight: bold;
}
.innerdiv p {
  color: rgb(138, 135, 135);
  margin: 10px 0px 20px 0px;
}
.innerdiv h3 {
  color: rgb(173, 173, 173);
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 3px;
  cursor: pointer;
}
.innerdiv h3 i {
  font-size: 30px;
  position: absolute;
  bottom: -5px;
  right: 110px;
}
.image {
  width: 60%;
  height: 70vh;
}
.image img {
  width: 100%;
  height: 100%;
  float: right;
}

.second {
  background-color: white;
  color: black;
}
.second h3 {
  color: black;
  font-size: 14px;
  letter-spacing: 1px;
}
.second h3 a {
  position: absolute;
  bottom: -5px;
  left: 110px;
}
.third h3 {
  font-size: 14px;
  letter-spacing: 1px;
}
.third h3 a {
  position: absoulte;
  bottom: -5px;
  left: 550px;
}

/* photosmatter section */
.photos-matter {
  display: flex;
}
.photo {
  position: relative;
}
.photo img {
  width: 337.2px;
  height: 350px;
}
.innertext {
  position: absolute;
  bottom: 50px;
  left: 20px;
}
.innertext h3 {
  color: white;
  word-spacing: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
.innertext h4 {
  color: rgb(202, 197, 197);
  margin-bottom: 10px;
}
.innertext .line {
  width: 240px;
  border: 0.5px solid rgb(138, 137, 137);
  margin-bottom: 20px;
}
.innertext h5 {
  color: white;
  word-spacing: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.innertext h5 i {
  position: absolute;
  font-size: 50px;
  bottom: -16px;
  left: 194px;
}

/* thirdsection */
.third-section {
  display: flex;
  justify-content: space-evenly;
}
.third-div {
  width: 300px;
  height: 350px;
  align-items: center;
  margin: 0px 5px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.third-div i {
  font-size: 75px;
  margin-bottom: 30px;
}
.third-div h2 {
  font-weight: bold;
  margin-bottom: 20px;
}
.third-div p {
  font-size: 15px;
  text-align-last: center;
}
/* footer */
footer {
  display: flex;
  height: 20vh;
  color: white;
  background-color: black;
}
.footer-one {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.logo-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.icons i {
  cursor: pointer;
}
.logo-icons i {
  font-size: 30px;
}
.footer-logo {
  display: flex;
}
.footer-logo img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.footer-logo h1 {
  font-size: 24px;
  font-weight: bolder;
  cursor: pointer;
}
.footer-links li {
  list-style: none;
  margin: 10px 0px;
}
.footer-links li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer-two {
  width: 50%;
}
.footer-two-inner {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.footer-invite {
  margin: 10px 20px 50px 0px;
  color: white;
  cursor: pointer;
  letter-spacing: 2px;
}
.footer-two-inner p {
  margin-right: 90px;
  font-weight: lighter;
  color: gray;
}
@media screen and (max-width: 1024px) {
  .nav-links {
    width: 50%;
  }
  .content {
    width: 70%;
    height: 80vh;
  }
  .innerdiv {
    width: 400px;
  }
  .innerdiv h1 {
    font-size: 40px;
    letter-spacing: 3px;
    line-height: 40px;
  }
  .innerdiv p {
    letter-spacing: 2px;
  }
  .image {
    width: 30%;
    height: 80vh;
  }
  .photos-matter {
    display: flex;
    flex-wrap: wrap;
  }
  .photo img {
    width: 500px;
    height: 550px;
    display: block;
  }
  .third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .third-div {
    width: 450px;
  }
  .third-div i {
    font-size: 100px;
  }
  .third-div h2 {
    font-size: 30px;
  }
  .third-div p {
    font-size: 18px;
    text-align-last: center;
    font-weight: 500;
    color: gray;
  }
  footer {
    height: inherit;
  }
  .footer-one {
    display: flex;
    flex-direction: column;
  }
  .footer-logo {
    margin: 20px;
  }
  .icons {
    margin: 20px;
  }
  .logo-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
  }
  .footer-links {
    display: flex;
    justify-content: space-between;
    margin-left: 42px;
  }
  .footer-two {
  }
  .footer-two-inner {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 35px 0px 10px 0px;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 10vh;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    transform: translateX(100%);
    transition: transform 1.82s linear -1.79s;
    z-index: 2;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .section {
    display: flex;
    flex-direction: column;
  }
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .content {
    width: 100%;
  }
  .image {
    width: 100%;
  }
  .photos-matter {
    display: flex;
    flex-direction: column;
  }
  .photo img {
    display: block;
    width: 100%;
  }
  .innertext {
    position: absolute;
    bottom: 50px;
    left: 40px;
  }
  .third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .third-div {
    width: 60%;
    align-items: center;
    margin-top: 10px;
  }
  footer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: space-around;
  }
  .footer-one {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }
  .icons {
    margin-top: 20px;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 20px;
  }
  .footer-two {
    width: 100%;
    padding-bottom: 30px;
  }
  .footer-two-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer-two-inner p {
    /* align-items: center; */
    margin: 10px 120px 10px 100px;
  }
  .footer-invite {
    margin: 40px 150px 30px 150px;
  }
}
.nav-active {
  transform: translateX(0%);
}
/* mobile view */
@media screen and (max-width: 375px) {
  .logo h1 {
    font-size: 18px;
    margin: 20px 5px 10px 0px;
  }
  .nav-links {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 9.9vh;
    /* background-color: red; */
  }
  .invite a {
    font-size: 15px;
    font-weight: lighter;
    width: 100px;
    height: 30px;
    letter-spacing: 2px;
    white-space: nowrap;
    padding: 5px 5px;
    margin: 0px 5px;
  }
  .content {
    height: 50vh;
  }
  .image {
    height: 50vh;
  }
  .image img {
    height: 100%;
  }
  .third-div {
    height: 300px;
  }
  .third-div h2 {
    font-size: 22px;
  }
  .footer-two {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-two-inner h4 {
    font-size: 15px;
    white-space: nowrap;
  }
  .footer-two-inner h4 i {
    font-size: 30px;
    position: relative;
    bottom: -5px;
    left: 5px;
  }
}
@keyframes navlinksfade {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* burger */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* hover */
.cool-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.cool-link:hover::after {
  width: 100%;
}
.footer-links li a:hover {
  color: gray;
}
